#pardot-form {
  font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
  padding: 10px;
  max-width: 100%;
  /* style the unchecked checkbox */
  /* style the checked checkbox */
  /* hide the regular radio button */
  /* position the label */
  /* style the unchecked radio button */
  /* style the selected radio button */
}

#pardot-form div.above-form {
  color: #007ca4;
}

#pardot-form div.above-form p {
  font-size: 24px;
}

#pardot-form p {
  font-size: 16px;
  width: 100%;
  max-width: 100% !important;
  padding: 0 10px;
  margin: 0;
}

#pardot-form p.form-field label {
  text-align: left;
  width: 100%;
  background: none;
  padding-right: 0;
}

#pardot-form p.form-field.required label:not(.inline) {
  font-weight: normal;
}

#pardot-form p.form-field.required label:not(.inline)::after {
  content: "*";
}

#pardot-form p.form-field input,
#pardot-form p.form-field textarea,
#pardot-form p.form-field select {
  font-size: 16px;
  width: 100%;
  background-color: #a6bbc3;
  padding: 10px;
  border: none;
}

#pardot-form p.form-field input.date,
#pardot-form p.form-field textarea.date,
#pardot-form p.form-field select.date {
  background-image: none;
}

#pardot-form p.submit {
  margin-left: 0;
  text-align: center;
}

#pardot-form p.submit input {
  font-size: 18px;
  background-color: #f43545;
  border: 1px solid #f43545;
  color: #fff;
  padding: 10px 30px;
  letter-spacing: 1px;
}

#pardot-form p.submit input:hover {
  background-color: transparent;
  border: 1px solid #f43545;
  color: #f43545;
}

#pardot-form .pd-checkbox span.value {
  margin-left: 0;
}

#pardot-form .pd-checkbox input {
  opacity: 0;
  position: absolute;
}

#pardot-form .pd-checkbox input,
#pardot-form .pd-checkbox label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  margin-left: 0;
  cursor: pointer;
}

#pardot-form .pd-checkbox label {
  position: relative;
}

#pardot-form .pd-checkbox input + label:before {
  content: "";
  background: #a6bbc3;
  border: 0;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  padding: 5px;
  margin-right: 10px;
  text-align: center;
  font-size: 15px;
  line-height: 18px;
}

#pardot-form .pd-checkbox input:checked + label:before {
  content: "\f00c";
  font-family: "FontAwesome";
  background: #f43545;
  color: #fff;
  border-color: #f43545;
}

#pardot-form .pd-radio input {
  opacity: 0;
  position: absolute;
}

#pardot-form .pd-radio input,
#pardot-form .pd-radio label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

#pardot-form .pd-radio label {
  position: relative;
  display: inline;
}

#pardot-form .pd-radio label.inline {
  display: inline;
}

#pardot-form .pd-radio span.value {
  margin-left: 0;
}

#pardot-form .pd-radio span.value span {
  display: inline-block;
}

#pardot-form .pd-radio input + label:before {
  content: "";
  background: #a6bbc3;
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  padding: 2px;
  line-height: 15px;
  margin-right: 10px;
  text-align: center;
}

#pardot-form .pd-radio input + label:before {
  border-radius: 50%;
}

#pardot-form .pd-radio input:checked + label:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #fff;
  background-color: #f43545;
}

#pardot-form .pd-radio input:focus + label {
  outline: 1px solid #ddd;
  /* focus style */
}

#pardot-form .pd-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
/*# sourceMappingURL=master-form-styles-ci.css.map */