$lightblue: #00c1de;
$midblue: #007ca4;
$darkblue: #002b49;
$bluegrey: #eaeff2;
$grey: #54575a;
$socialicons: #a6bbc3;
$red: #f43545;

$proxima: "Proxima Nova", Arial, Helvetica, sans-serif;

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: $proxima;
  color: $grey;
}

a,
a:visited,
a:focus {
  color: $midblue;
}

code {
  position: absolute;
  top: 0;
  left: 0;
}

header {
  position: relative;
}

#overlay img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  max-width: 100%;
  height: 100%;
}

#nav {
  background-color: #fff;
  min-height: 100px;
}

#hero {
  .headline {
    padding-bottom: 4rem;
    @media screen and (max-width: 780px) {
      font-size: 2rem;
    }
  }
  .subhead {
    padding-top: 8rem;
    color: $lightblue;
    @media screen and (max-width: 780px) {
      font-size: 1.5rem;
    }
  }
}

.blue-divider {
  background-color: $lightblue;
  position: relative;
  z-index: 101;
  min-height: 50px;
}

.fa-ul {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0;
  i {
    font-size: 22px;
    color: $darkblue;
  }
}
.fa-li {
  text-align: center;
}

.fa-li-text {
  padding-top: 3px;
  font-size: 18px;
  padding-left: 5px;
  display: inline-block;
}

#form-outer {
  background-color: $bluegrey;
  border-radius: 4px;
}

ul.blue-arrows {
  list-style-image: url("https://www3.impinj.com/l/818783/2019-12-18/lcd/818783/1227/blue_arrow_bullet.png");
}

#section2 {
  color: #fff;
  background-color: $midblue;
  h2 {
    font-weight: 300;
  }
}

#section3 {
  h2 {
    font-weight: 300;
  }
}

footer {
  background-image: url(https://www3.impinj.com/l/818783/2019-12-18/lhj/818783/1259/impinj_lp_footer_bg.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  nav {
    background-color: transparent;
  }
}

#bottom-bar {
  background-color: $darkblue;
  a {
    color: #fff;
    text-decoration: none;
  }
}

.btn {
  text-transform: uppercase;
}

a.btn-primary {
  background-color: #00a7ce;
  border: 1px solid #00a7ce;
  display: inline-block;
  color: #fff;
  border-radius: 2px;
  padding: 9px 20px;
  line-height: normal;
  vertical-align: middle;
  min-width: 200px;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  &:hover {
    background-color: transparent;
    border: 1px solid #00a7ce;
    color: #00a7ce !important;
  }
}

.btn-white {
  background-color: transparent;
  border: 1px solid #00a7ce;
  color: #00a7ce;
  &:hover {
    background-color: #00a7ce;
    border: 1px solid #00a7ce;
    color: #fff;
  }
}

.btn-red {
  background-color: #f43545;
  border: 1px solid #f43545;
  color: #fff;
  &:hover {
    background-color: transparent;
    border: 1px solid #f43545;
    color: #f43545;
  }
}
