$lightblue: #00c1de;
$midblue: #007ca4;
$turquoise: #1ccfc9;
$darkblue: #002b49;
$bluegrey: #eaeff2;
$grey: #54575a;
$socialicons: #a6bbc3;
$input-color: #a6bbc3;
$red: #f43545;

$proxima: "Proxima Nova", Arial, Helvetica, sans-serif;

#pardot-form {
  font-family: $proxima;
  font-size: 16px;
}

#pardot-form p.form-field {
  clear: none;
  margin: 0px;
  padding: 0px;
}

#pardot-form div.above-form {
  color: $midblue;
  p {
    font-size: 24px;
    margin-left: 0px;
    padding-left: 0px;
  }
}

#pardot-form input.text {
  background-color: #eaeff2;
  background-image: none;
  font-size: 16px;
  border: none;
  color: $grey;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

#pardot-form p label {
  width: 90%;
  color: #333333;
  font-weight: normal;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left;
}
#pardot-form p.submit input {
  font-size: 18px;
  background-color: $midblue;
  border: 1px solid $midblue;
  color: #fff;
  padding: 10px 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#pardot-form p.submit input:hover {
  background-color: transparent;
  border: 1px solid $midblue;
  color: $midblue;
}

#pardot-form p.submit {
  margin: 0px;
  padding-top: 20px;
}
#pardot-form p.required label,
#pardot-form span.required label {
  background: none;
  font-weight: normal;
}
#pardot-form p.required label.field-label:after {
  content: "*";
}
#pardot-form p label {
  float: none;
  text-align: left;
  font-weight: bold;
}
#pardot-form p label.inline {
  font-weight: normal;
}
#pardot-form span.value {
  margin-left: 0;
}
#pardot-form p.submit {
  margin-left: 6px;
}
#pardot-form p.no-label,
#pardot-form p.email-pref {
  margin: 0;
  padding-left: 0px;
}

#pardot-form {
  p.pd-checkbox {
    padding: 20px;
    padding-top: 0px;
    position: relative;
  }
  .pd-checkbox span.value {
    margin-left: 0;
  }
  .pd-checkbox input {
    opacity: 0;
    position: absolute;
  }
  .pd-checkbox input,
  .pd-checkbox label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    margin-left: 0;
    cursor: pointer;
  }
  .pd-checkbox label {
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 18px;
  }

  .pd-checkbox label.inline {
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
    padding-right: 40px;
    line-height: 16px;
    font-weight: bold;
  }

  .pd-checkbox span.description {
    margin-right: 50px;
    margin-left: 0px;
  }

  /* style the unchecked checkbox */
  .pd-checkbox input + label:after {
    content: "";
    box-sizing: unset;
    background: $input-color;
    border: 2px solid $input-color;
    display: inline-block !important;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    padding: 3px;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    right: 20px;
    bottom: -12px;
  }
  /* style the checked checkbox */
  .pd-checkbox input:checked + label:after {
    content: "\f00c";
    font-family: "FontAwesome";
    background: $turquoise;
    color: #fff;
    border-color: $turquoise;
  }

  .pd-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }

  p.errors {
    color: #fff;
    background-color: $red;
    width: 90%;
  }
  p.error label.field-label {
    color: $red;
    font-weight: bold;
  }
  p.error.no-label {
    display: none;
  }
}

#pardot-form p.pd-checkbox:nth-of-type(1n) {
  background-color: #eaeef0;
}
